{{#if addNewQuestion}}
<h4>New Question</h4>
<div>
  <form>
    <div class="form-group">
      <label for="author">Question Author:</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="title">Question Title:</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="text">Question Text:</label>
      {{input value=text id="text"}}
    </div>

    <button {{action 'saveQuestion'}}>Save</button>
  </form>
</div>
 {{else}}
    <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
