<div class="container">
  <h3>{{question.title}}</h3><br>
  {{question.text}}<br>
  <i>by {{question.author}}</i><br>
  <button {{action 'delete' question}}>Delete</button>

  <ul>
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ul>

  {{new-answer save2="save3"}}
</div>
