{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{new-answer question=model saveAnswer="saveAnswer"}}

<br>
{{update-question question=model update="update"}}

<!-- {{#if model.question.inWatched}}
  <p>In Watchlist</p>
{{else}}
  <button {{action 'addToWatched' model.question}}>Add to Watchlist</button>
{{/if}} -->
